@using Blog.Models;
@model List<User>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/styles/search.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Red+Hat+Display&display=swap" rel="stylesheet">

    <title>Search</title>
</head>
<body>
    <header>
        <div class="header-left">
            <form asp-action="Quit" asp-controller="Account">
                <button class="quit">Вийти</button>
            </form>

            <p class="header-text">Blog</p>
        </div>

        <div class="header-right">
            <form asp-action="FindPerson" asp-controller="Account">
                <input type="text" class="header-input" name="fullName">
                <button class="quit">Знайти</button>
            </form>

        </div>
    </header>

    <main>
        @foreach (var item in Model)
        {
            <form asp-action="OpenFindPersonPage" asp-controller="Account">
                <div class="user">
                    <h3>@item.FirstName @item.LastName</h3>
                    <input type="hidden" name="email" value="@item.Email">
                    <button class="open-page">Відкрити сторінку</button>
                </div>
            </form>
        }
        
    </main>
</body>
</html>