<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/styles/userpage.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Red+Hat+Display&display=swap" rel="stylesheet">
    <title>User</title>
</head>
<body>
    <header>
        <div class="header-left">
            <button class="quit">Вийти</button>
            <p class="header-text">Blog</p>
        </div>

        <div class="header-right">
            <input type="text" class="header-input">
            <img src="images/search-svgrepo-com.svg" alt="Search Icon" class="header-icon">
        </div>
    </header>

    <main>
        <div class="container-to-photo">
            <img src="images/blank-profile-picture-973461_960_720.webp" class="main-image">
            <button class="upload">Завантажити фото</button>
        </div>
        <form class="new-post">
            <textarea class="details"></textarea>
            <button class="upload">Додати пост</button>
        </form>
        <div class="post">
            <h3 class="Username">Користувач</h3>
            <p class="text">Текст постуТекст постуТекст постуТекст постуТекст постуТекст постуТекст постуТекст постуТекст постуТекст постуТекст постуТекст постуТекст постуТекст постуТекст постуТекст постуТекст постуТекст посту Текст постуТекст постуТекст постуТекст посту</p>
        </div>
    </main>
</body>
</html>
