@using Blog.Models;
@model PageObjects

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/styles/userpage.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Red+Hat+Display&display=swap" rel="stylesheet">
    <title>User</title>
</head>
<body>
    <header>
        <div class="header-left">
            <button class="quit">Вийти</button>
            <p class="header-text">Blog</p>
        </div>

        <div class="header-right">
            <input type="text" class="header-input">
            <button class="quit">Знайти</button>
        </div>
    </header>

    <main>
        <div class="container-to-photo">
            <img src="~/@Model.Image" class="main-image">
            <form method="post" asp-controller="Account" asp-action="ChangeImage" enctype="multipart/form-data">     
                <input type="file" id="fileInput" name="imageFile" accept=".jpg" value="Обрати фото">
                <button class="upload" id="uploadButton" type="submit">Завантажити фото</button>
            </form>
        </div>

        <form asp-controller="Account" asp-action="CreatePost" class="new-post">
            <textarea class="details" name="text"></textarea>
            <button class="upload">Додати пост</button>
        </form>

        @for (int i = Model.PostsText.Count - 1; i >= 0; i--)
        {
            <div class="post">
                <h3 class="Username">@Model.User.FirstName @Model.User.LastName</h3>
                <p class="text">@Model.PostsText[i]</p>
            </div>
        }
    </main>
</body>
</html>