<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styles/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Red+Hat+Display&display=swap" rel="stylesheet">
    <title>Authorization</title>
</head>
<body>
    <div class="items">
        <form asp-controller="Home" asp-action="Autorization">
            <input class="fields" placeholder="Пошта" name="Email"> <br>
            <input class="fields" type="password" placeholder="Пароль" name="Password"><br>
            <button type="submit">Увійти</button>

        </form>
        <div class="login-link">
            <p>Ще нама аккаунту? <a asp-controller="Home" asp-action="Registration">Зареєструватись</a></p>
        </div>
    </div>
</body>
</html>
