@using Blog.Models;
@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/styles/registration.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Red+Hat+Display&display=swap" rel="stylesheet">
    <title>Registration</title>
</head>
<body>
    <div class="items">
        <form asp-action="Registration" asp-controller="Home">
            <div>
                <input class="fields" placeholder="Імя" name="firstName"> <br>
                <span class="error" asp-validation-for="FirstName"></span>
            </div>
            <div>
                <input class="fields" placeholder="Прізвище" name="lastName"> <br>
                <span class="error" asp-validation-for="LastName"></span>
            </div>
            <div>
                <input class="fields" placeholder="Пошта" name="email"> <br>
                <span class="error" asp-validation-for="Email"></span>
            </div>
            <div>
                <input class="fields" placeholder="Пароль" name="password"><br>
                <span class="error" type="password" asp-validation-for="Password"></span>
            </div>

            <button type="submit">Зареєструватись</button>
        </form>
    </div>
</body>
</html>